<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  </div>
<h2>Listos para iniciar</h2>
<button (click)="mostrarcolores()" class="btn">{{mostrarlistacolores?'Ocultar Colores':'Mostrar Colores'}}</button>

<div *ngIf="mostrarlistacolores" class="coloreslista">
  <h2>Lista de colores</h2>
  <ul>
    <li *ngFor="let color of colores">
       {{color}}
      </li> 
      <li>
        <form (submit)="addcolor(color)">
          <input  #color type="text" name="color" placeholder="Nuevo color">
        </form>
      </li>
  </ul>
</div>
<!--



-->
<app-posts></app-posts>
<app-albums></app-albums>
<app-comments></app-comments>
<app-photos></app-photos>
<app-todos></app-todos>
<app-users></app-users>
<!--
<app-nuevocomponente></app-nuevocomponente>-->
