<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  </div>
<h2>Listos para iniciar</h2>
<button (click)="mostrarcolores()" class="btn">{{mostrarlistacolores?'Ocultar Colores':'Mostrar Colores'}}</button>

<div *ngIf="mostrarlistacolores" class="coloreslista">
  <h2>Lista de colores</h2>
  <ul>
    <li *ngFor="let color of colores">
       {{color}}
      </li> 
      <li>
        <form (submit)="addcolor(color)">
          <input  #color type="text" name="color" placeholder="Nuevo color">
        </form>
      </li>
  </ul>
</div>
<ng-progress></ng-progress>
<!--
   -->
  <tabs>
        <tab tabTitle="Posts">
               <ng-progress></ng-progress>
               <app-posts></app-posts>
        </tab>
        <tab tabTitle="Comments">
            <app-comments></app-comments>
        </tab>
        <tab tabTitle="Albums">
            <ng-progress></ng-progress>
            <app-albums></app-albums>
        </tab>
        <tab tabTitle="Photos">
          <app-photos></app-photos>
        </tab>
        <tab tabTitle="Todos">
          <app-todos></app-todos>
        </tab>
        <tab tabTitle="Users">
          <app-users></app-users>
        </tab>
    </tabs> 

    
     
     
    